.container{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    flex-wrap: wrap;
}
:global(.min_height){ /* O :global impede a renomeação */
    height: 100vh;
}

:global(.start){
    justify-content: flex-start;
}
:global(.column){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
}