.menssagem{
    width: 30%;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;

}

.sucsses{
    color: #fff;
    background-color: rgb(19, 184, 19);
    font-size: 17px;
    font-weight: 500;
}
.error{
    color: #fff;
    background-color: red;
    font-size: 17px;
    font-weight: 500;
}